@page "/"

<PageTitle>Inicio</PageTitle>

<div class="panel">

    <div class="panel-header mundial-header">

        <div>
            <h1>Panel Administrativo</h1>
            <p>
                Administra el Mundial 2026 y controla toda la plataforma
                UTNGolMundial.
            </p>
        </div>

        <div class="logo-mundial">
            FIFA 2026
        </div>

    </div>

    <div class="stats-grid">

        <div class="stat-card total">
            <h2>104</h2>
            <p>Partidos</p>
        </div>

        <div class="stat-card admin">
            <h2>352</h2>
            <p>Usuarios</p>
        </div>

        <div class="stat-card usuario">
            <h2>1.284.500</h2>
            <p>UTNGolCoin</p>
        </div>

        <div class="stat-card invitado">
            <h2>18.540</h2>
            <p>Predicciones</p>
        </div>

    </div>

    <div class="panel-card">

        <h3>Bienvenido al Panel</h3>

        <p>
            Desde este panel podrás gestionar partidos,
            administrar usuarios,
            registrar resultados oficiales y consultar
            reportes del Mundial 2026.
        </p>

    </div>

</div>